<ion-view title="Criar Conta" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="criarConta-form3" class="list">
      <ion-list id="criarConta-list4">
        <label class="item item-input" id="criarConta-input5">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="criarConta-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="criarConta-input7">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="menu.home()" id="criarConta-button5" class="button button-stable button-block">Criar Conta</a>
    </form>
  </ion-content>
</ion-view>